<div class="snackbar-container d-flex flex-column">
  <div [@SnackbarAnimation] class="alert d-flex align-items-center shadow-sm" [ngClass]="['alert-' + snackbar.config.type]" role="alert" *ngFor="let snackbar of snackbars; let index = index;">
    <i *ngIf="snackbar.config.icon" class="fa fa-fw snackbar-icon" [ngClass]="['fa-' + snackbar.config.icon]" style="margin-right: 10px;"></i>
    
    <small [innerHTML]="snackbar.config.message"></small>

    <span class="flex-spacer"></span>

    <div *ngIf="snackbar.config.buttons" class="snackbar-buttons">
      <button *ngFor="let button of snackbar.config.buttons" type="button" class="btn btn-sm" [ngClass]="['btn-' + snackbar.config.type]" aria-label="Close" (click)="button.action()">
        {{ button.label }}
      </button>
    </div>

    <button type="button" class="close snackbar-close" aria-label="Close" (click)="removeMe(index)" *ngIf="snackbar.config.close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>